<script>
 $('#editdocument').parent('li').addClass('active')
                  .parents('.collapse').collapse('show');
</script>
<%#= stylesheet_link_tag "document_template_index" %>
<table align="center" class="table_style">
  <tr>
    <th width="70%">DOCUMENT TEMPLATES </th>
    <th></th>
    <th></th>
  </tr>
 <% @document_templates.each do |document_template| %>
    <tr>
      <td ><%= document_template.title %></td>

      <td><%= link_to 'Edit', edit_document_template_path(document_template) %></td>
      <td><%= link_to 'Destroy', document_template, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'Back', '/document/index' %>




