<% @banks.each do |bank| %>
    <tr>
      <td></td>
      <td class="action"><%= bank.name %></td>
      <td><%= link_to 'Show', bank %><%= link_to 'Edit', edit_bank_path(bank) %><%= link_to 'Destroy', bank, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
<% end %>