<h1 class="block_heading">Listing banks</h1>
<table id="banktable"  class ="table table-striped">
  <thead>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <%= render :partial => 'bank' %>
  </tbody>
</table>




