<table id ="designation_table" class="table table-striped display">
  <thead>
  <tr>
    <th></th>
    <th>Name</th>
    <th>action</th>
  </tr>
  </thead>
  <tbody>
    <%= render :partial => 'tbody' ,:collection => @designations,:as => :designation %>
  </tbody>
  </table>