/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require document_template_index.css
 *= require jquery.pageslide.css
 *= require_tree .
*/

 .looks-like-glass {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
}



.welcome {
    top: 10px;
    position: relative;
}
.notice{
    
    font-size: 18px;
    color: #3897B5;
    height: 20px;
   
}
#menu {
        font-family:verdana;
        font-size:12px;
        position:relative;
        margin:0 auto;
        width:200px;
    }

    #menu ul {
        /* remove list style */
        list-style:none;
        padding:0;
        margin:0;

        /* set the layer position */
        position:relative;
        z-index:5;
    }

       .nav_links {
            /* set the styles */
            background:#3897B5 ;
            padding:5px;
            margin:2px;
            cursor:pointer;
            border:1px solid #ccc;
            color:#fff !important;
            font-weight:bold;
            text-align:center;
        }

      #menu ul li.hover  {
            /* on hover, change it to this image */
            background:#fff !important;
            color:#3897B5;
            text-decoration:none;
        }

        #menu ul li a {
            text-decoration:none;
           color:#fff;
        }
         #menu ul li a.hover {
           background:#fff !important;
            color:#3897B5;
            text-decoration:none;
        }

body {
  background-image:url('/assets/gray_jean.png') !important; 
}

   
