/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require document_template_index.css
 *= require jquery.pageslide.css
 *= require jquery.ui.core
 *= require jquery.ui.theme
 *= require dataTables/jquery.dataTables
 *= require dataTables/extras/TableTools
 *= require dataTables/extras/TableTools_JUI
 *= require_tree .
*/

/*form label*/
/*{*/
    /*float:right ;*/
/*}*/
.block div{
    text-align: center;
    font-size: 28px;
    margin: 25px;
    float: left;
}
td {
    font-size: 11px !important;
}

.dataTables_length ,.dataTables_info
{
    float: left;
    margin-top: 10px;
}
.dataTables_filter , .dataTables_paginate
{
   float: right;
   margin-top: 10px;
}
#change_table
{
    border-top: 4px solid gray;
}
/*.block_border h1 {*/
    /*position: absolute;*/
    /*left: 8.5em;*/
    /*top: 1.5em !important;*/
    /*margin: 0;*/
    /*z-index: 100;*/
    /*color: black;*/
/*}*/
.dataTable  th {
    background-color:#2FA4E7 !important;
}
.dataTable  th ,.dataTable  td{
    text-align: center !important;

}
.action a
{
  margin: 10px;
}

 .looks-like-glass {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
}
.welcome {
    top: 10px;
    position: relative;
}
.notice{
    
    font-size: 18px;
    color: #3897B5;
    height: 20px;
   
}
#menu {
        font-family:verdana;
        font-size:12px;
        position:relative;
        margin:0 auto;
        width:200px;
    }

    #menu ul {
        /* remove list style */
        list-style:none;
        padding:0;
        margin:0;

        /* set the layer position */
        position:relative;
        z-index:5;
    }

       .nav_links {
            /* set the styles */
            background:#3897B5 ;
            padding:5px;
            margin:2px;
            cursor:pointer;
            border:1px solid #ccc;
            color:#fff !important;
            font-weight:bold;
            text-align:center;
        }

      #menu ul li.hover  {
            /* on hover, change it to this image */
            background:#fff !important;
            color:#3897B5;
            text-decoration:none;
        }

        #menu ul li a {
            text-decoration:none;
           color:#fff;
        }
         #menu ul li a.hover {
           background:#fff !important;
            color:#3897B5;
            text-decoration:none;
        }

body {
  background-image:url('/assets/gray_jean.png') !important; 
}

.error_form
{
  color : red;
  font-size: 12px;
}

.row
{
  margin-top:10px !important;
}

table {border:none;font-size: 12px;}
td{border:none; padding: 5px;}

table {border: 1px solid #dcdcdc; margin: 10px 0px 20px 0px; width: 97%; border-collapse: collapse;font-size: 12px;}
th {padding: 8px 4px 8px 4px;border: 1px solid #dcdcdc; background: url(/images/green.jpg)repeat left center;text-shadow: 1px 0px #003362;color: #fff }
td {padding: 4px; border: 1px solid #dcdcdc;color: #5b5b5b;vertical-align: top;}
tr {background: #fff !important;}
tr small a{color: #fff !important;}
tr small{color: #fff !important;}
tr :hover small a{color: #527e19 !important;}
tr :hover small a:hover{color: #000 !important;}
tr :hover small {color: #5b5b5b !important ;}

ul.admin-dashboard-list h1 {
    font-size: 20px;
    border: 1px solid black;
    background-color: #2FA4E7;
    color: white;
    box-shadow: 2px 2px 2px 2px #000;
    border-radius: 10px;
    text-align: center;
}

ul.admin-dashboard-list li {
    font-size:14px;
    display: inline;
    padding: 10px;
}
ul.admin-dashboard-list li a{
    color:#000;
}
h1.block_heading{
    font-size: 20px;
    border: 1px solid black;
    background-color: #2FA4E7;
    color: white !important;
    box-shadow: 2px 2px 2px 2px #000;
    border-radius: 10px;
    text-align: center;
}

.nav > li > a:hover {
background-color: #2FA4E7 !important;
}

#band_table_wrapper
{
    overflow-x: scroll;
}
