// Place all the styles related to the Document controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul
{
list-style: none;
padding: 0;
margin: 0;
}
p.mandatory
{
color: #FF0000;
margin-left: 70%;
position: relative;
}
#star
{
color: #FF0000;
}