/* 
    Document   : document_template_index
    Created on : 14 Aug, 2012, 11:38:14 AM
    Author     : trantor
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
.table_style
  {
    width:100%;

}
  th
  {
    background-color:#2FA4E7;
  }
  td
  {
    text-align: center;
    text-decoration: none;
    background-color: #e4e4e4;
  }

