<hr style = "height:0.05em;width:100%;background:#3897B5;" />
<div style = "font-size: 10px; text-align: center;">
  <b>Regd. Office</b> : #12, Sector 8-A, Chandigarh, India : 160009  <b>Works</b> : 18S G-9, RGIT  Park, Chandigarh, India 
</div>
