<p>Welcome <%= @resource.email %>!</p>
<% pass = Devise.friendly_token %>
<p>Your current password is : <%= pass %></p>
<% @resource.update_attributes( { :password => pass, :password_confirmation => pass }) %>  
<p>You can confirm your account email through the link below:</p>
  <p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
