<form id="form1">
  <div class="container-fluid aligned">
    <div class="content ">
      <div class="row-fluid  ">
        <div class="span3"></div>
        <div class="span6 looks-like-glass">
         <div class="login-form " style = "margin-left: 191px;">
            <h2>Login</h2>
            <span id="label1"></span>
            <fieldset>
             <div class="control-group">
               <input id="txtUser" type="text" placeholder="Username" name="txtUser"/>
             </div>
             <div class="control-group">
               <input id="txtPassword" type="password" placeholder="Password" name="txtPassword"/>
             </div>
             <button id="sub" class="btn btn-primary">Sign In</button>  
            </fieldset>                     
				</div>
       <div class="span3"></div>
     </div>
   </div>
 </div>
</form>
