<div class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <%= link_to 'Home', root_path, :class => "brand" %>
      
      <div class="nav-collapse collapse" style='font-size: 12px;'>
      	<% if current_user %>
      		<ul class="nav pull-left">
	      		<li><%= link_to("Hi " + current_user.short_name.to_s, admin_user_path(current_user.id)) %></li>
      		</ul>
        	<ul class="nav pull-right">
        		<li><%= link_to('Users', admin_users_path) %></li>
	          <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
        	</ul>
        <% end -%>
      </div>
    </div>
  </div>
</div>