<div class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <%= link_to 'Home', root_path, :class => "brand" %>
      
      <div class="nav-collapse collapse" style='font-size: 12px;'>
      	<% if current_user %>
      		<ul class="nav pull-left">
	      		<li><%= link_to("Hi " + current_user.short_name.to_s, admin_user_path(current_user.id)) %></li>
      		</ul>
        	<ul class="nav pull-right">
        		<% admin_links.each do |admin_link| %>
        			<% table = admin_link.constantize.table_name %>
        			<% highlight = (ctrl_klassname == table) ? 'header_links' : '' %>
        			<li><%= link_to(admin_link, send("admin_#{table}_path")) %></li>
        		<% end -%>
        		
	          <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
        	</ul>
        <% end -%>
      </div>
    </div>
  </div>
</div>