<% cache ['v2', 'lyfte-header'], :expires_in => 1.days.to_i do %>
<div class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'TMS', root_path, :class => "brand" %>

      <div class="nav-collapse collapse">

        <ul class="nav pull-right">
					<% if current_user %>
	        	<li><%= link_to("Hello " + current_user.short_name.to_s, '#') %></li>
	          <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
	          <li><%= link_to('Admin', admin_path) %></li>
	        <% end -%>
        </ul>
      </div>
      
    </div>
  </div>
</div>
<% end %>